{% extends "base.html" %}

{% block styles %}
     <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css')}}" type="text/css">
{% endblock %}


{% block content %}

    <div id="background">
    </div>
    <div id="content">
    <h1 class="text-center m-5">Register here!</h1>
    
    <div class="row d-flex justify-content-center">
        <div class="col-10 col-md-8">
            <form method="POST" action="{{ url_for('users.register') }}">
                <div class="form-group row d-flex justify-content-center">
                    <label for="email" class="col-12 col-md-3 col-form-label col-form-label"><strong>Email</strong></label>
                    <div class="col-12 col-md-6">
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                            placeholder="Enter your Email" required>
                    </div>
                </div>
                <div class="form-group row d-flex justify-content-center">
                    <label for="firstname" class="col-12 col-md-3 col-form-label col-form-label"><strong>Password</strong></label>
                    <div class="col-12 col-md-6">
                        <input type="password" class="form-control" id="password" name="password"
                            aria-describedby="passwordHelp" placeholder="Enter your password" minlength="5" maxlenght="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                    </div>
                </div>
                <div class="form-group row d-flex justify-content-center">
                    <label for="firstname" class="col-12 col-md-3 col-form-label col-form-label"><strong>Confirm your
                            password</strong></label>
                    <div class="col-12 col-md-6">
                        <input type="password" class="form-control" id="passwordconfirm" name="passwordconfirm"
                            aria-describedby="passwordconfirmHelp" placeholder="Confirm your password" minlength="5" maxlenght="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <button class="btn btn-outline-dark col-4 col-md-3 m-2 m-md-4">Clear</button>
                    <button type="submit" class="btn btn btn-dark col-4 col-md-3 m-2 m-md-4">Submit</button>
                </div>
            </form>
        </div>
    </div>
    </div>
   

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/validation.js')}}"></script>
{% endblock %}