{% extends "base.html" %}

{% block styles %}
     <link rel="stylesheet" href="{{ url_for('static', filename='css/login-register.css')}}" type="text/css">
{% endblock %}

{% block content %}

<div id="background">
</div>
<div class="text-center" id="content">
    <h1>Crypto Portfolio Manager</h1>
    <h5>The one and only way to succesfull manage your Crypto Portfolio</h5>
    <a class="btn btn-outline-secondary btn-lg my-3" href="{{ url_for('users.register')}}" role="button">Register now!</a>
    <hr class="my-3>">
    <p>Already signed up?</p>
    <a class="btn btn-outline-dark" href="{{ url_for('users.login')}}" role="button">Login</a>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js')}}"></script>
<script>setElementListener()</script>
{% endblock %}